<a class="button" href="/questions/new">Ask Question</a>


<h2>Questions</h2>

<% @questions.each do |question| %>
  <div class='yellow-container'>
      <div class="question-title"><a href="/questions/<%= question.id%>"><%= question.title %></a>
        <div class="votes">
          <span class="vote-count"><%= question.votes.count %></span>
          <div class="vote-count-subtitle">votes</div>
        </div>
        <div class="answers">
          <span class="answer-count"><%= question.answers.count %></span>
          <div class="answer-count-subtitle">answers</div>
        </div>
        </div>
      </div>
    </div>
<% end %>

</div>
