<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="clearfix mar-b-1">
      <% if !logged_in %>
        <a class="nav-font" href="/users/new">register</a>
        <a class="nav-font" href="/sessions/login">login</a>
      <% else %>
        <a class="nav-font" href="/users/<%= current_user.id %>/show"><%= current_user.username %></a>

        <form action='/sessions/logout' method='POST'>
          <input type='hidden' name ='_method' value="delete">
          <input type='submit' value='logout' class="no-border no-outline no-bg c-green hover-underline">
        </form>
      <% end %>
  </nav>
      <h1><a class="overflow-header" href="/"><img src="../../images/fourm_overflow.png"></a></h1>
  <%= yield %>
</body>
</html>
